/*
#ebebeb - light grey
#242024 - charcoal 
#6ec4ce - teal
#c0c0c0 - medium grey
*/

* {
    box-sizing: border-box;
}
/*  * does not affect the width of the container */


body {
    background-color: lightgray;
}

.container {
    width: 960px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
#header {
    font-size: 0;
}
.boldblueheader {
    font-weight: bold;
    color: #6ec4ce;
    font-size: 30px;
    text-align: center;
    padding-top: 1rem;
}

.boldwhiteheader {
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 1rem;
}

.normalblackheader {
    font-weight: bold;
    color: #242024;
    font-size: 30px;
    text-align: left;
    padding-top: 1rem;
}

.smallwhiteheader {
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 1rem;
}

.smallblackheader {
    color: #242024;
    font-size: 28px;
    text-align: center;
    padding-top: 1rem;
}

#logo {
    display: inline-block;
    width: 284px;
    height: 75px;
    vertical-align: top;
    padding: 0; 
    margin-bottom: 1rem;
    overflow: auto;
}

nav {
    background-color: #242024;
    color:  white;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    float: right;
}

nav li {
    display: inline-block;
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
    width: 20%;
    text-align: center;
    border-right: 1px solid lightgray;
}

nav li:hover {
    background-color: #6ec4ce;
    color: white;
}

#banner {
    margin-top: 40px;
    height: 525px;
    background-image: url('../image/nicole.jpg');
    background-size: 100% 125%;
    background-position-y: bottom;
    text-indent: 50px;

}

#banner .greeting {
    font-size: 250%;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-top: 50px;
    padding: 1rem;

}

#banner .whoiam {
    font-size: 200%;
    font-weight: auto;
    color: white;
    text-align: left;
    margin-top: -15px;
    padding: 1rem;
}

#info {
    background-color: #ebebeb;
    color: #242024;
    padding: 2rem 4rem;
    text-align: left;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#promo {
    font-size: 0;
    background-color: #242024;
    color:  white;
    padding: 1rem;
    padding-bottom: 2rem;
}

#promo > .column {
    display: inline-block;
    width: 25%;
    padding: 2rem 2rem;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    font-weight: normal;
    }

.column .header {
    color: #6ec4ce;
    font-weight: bold;
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #242024;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 800px;
    margin: 0rem 5rem;
    border-bottom: 2px solid white;
}
.language {
    background-color: #242024;
    color: white;
    line-height: 55px;
    font-size: 20px;
    text-align: center;
    width: 200px;
}

.progress {
    background-color: #6ec4ce;
    color: #6ec4ce;
    line-height: 55px;
    font-size: 14px;
    text-align: right;
}
.percentage {
    background-color:#c0c0c0;
    color: white;
    font-weight: bold;
    text-align: right;
    line-height: 55px;
    font-size: 20px;
    align-content: center;
}

#portfolio {
    background-color: #6ec4ce;
    color: black;

}

#aboutme {
    background-color: #ebebeb;
    color: #242024;
}

#findmehere {
    background-color: #242024
}

#contactme {
    background-color: #6ec4ce;
    color: white;

}

#nicetomeetyou {
    background-color: #ebebeb;
    color: #242024;
}